DATABASE_URL=postgres://identify_user:identify_password@127.0.0.1:5433/identifydb
REDIS_URL=redis://127.0.0.1:6379
HOST=127.0.0.1
PORT=3001
JWT_PRIVATE_KEY_PATH=certs/private.pem
JWT_PUBLIC_KEY_PATH=certs/public.pem
